{{/* boolean feature tags */}}
{{- $transient := promptBoolOnce . "transient" "Is this machine temporary (e.g. a cloud or VM instance)" false -}}
{{- $personal := promptBoolOnce . "personal" "Is this machine personal use and has additional tools" false -}}
{{- $development := promptBoolOnce . "development" "Is this machine used for development" true -}}
{{- $macos := false -}}
{{- $rpi := false -}}
{{- $ssh_host := true -}}
{{- $computerName := .chezmoi.hostname -}}
{{- $email := promptStringOnce . "email" "Your email address" "hussainweb@gmail.com" -}}
{{- $proxmox_endpoint := "" -}}
{{- if $personal -}}
{{-   $proxmox_endpoint = promptStringOnce . "proxmox_endpoint" "Proxmox API endpoint URL" "https://erebor.husain.me:8006/api2/json" -}}
{{- end -}}
{{- "" -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $macos = true -}}
{{-   $computerName = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- if eq $computerName "the-good-machine" "tiny-tardis" "eressea" -}}
{{-   $personal = true -}}
{{-   $ssh_host = false -}}
{{- end -}}

{{- if $transient -}}
{{-   $development = false -}}
{{- end -}}

{{- if eq .chezmoi.hostname "grey-havens" -}}
{{-   $rpi = true -}}
{{-   $ssh_host = true -}}
{{- end -}}

[data]
  transient = {{ $transient }}
  personal = {{ $personal }}
  development = {{ $development }}
  macos = {{ $macos }}
  rpi = {{ $rpi }}
  ssh_host = {{ $ssh_host }}
  email = {{ $email | quote }}
  computerName = {{ $computerName | quote }}
  proxmox_endpoint = {{ $proxmox_endpoint | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-1password.sh"
