{{/* boolean feature tags */}}
{{- $macos := false -}}
{{- $rpi := false -}}
{{- $computerName := .chezmoi.hostname -}}

{{- $ssh_host := true -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $macos = true -}}
{{-   $computerName = output "scutil" "--get" "ComputerName" | trim -}}
{{-   $ssh_host = false -}}
{{- end -}}

{{- $is_workstation := false -}}
{{- if eq $computerName "the-good-machine" -}}
{{-   $is_workstation = true -}}
{{- end -}}

{{- $is_personal := false -}}
{{- if eq $computerName "the-good-machine" "tiny-tardis" "eressea" -}}
{{-   $is_personal = true -}}
{{-   $ssh_host = false -}}
{{- end -}}

{{- if eq .chezmoi.hostname "grey-havens" -}}
{{-   $rpi = true -}}
{{-   $ssh_host = true -}}
{{- end -}}

{{- $personal := promptBoolOnce . "personal" "Is this machine personal use and has additional tools" $is_personal -}}

{{- $default_stack := "base" -}}
{{- if $is_workstation -}}
{{-   $default_stack = "full" -}}
{{- end -}}
{{- $stack := promptStringOnce . "stack" "Software stack (base, container, full)" $default_stack -}}
{{- $media := false -}}
{{- if eq $stack "full" -}}
{{-   $media = promptBoolOnce . "media" "Install heavy media tools (ffmpeg, yt-dlp)" false -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Your email address" "hussainweb@gmail.com" -}}
{{- $proxmox_endpoint := "" -}}
{{- if $personal -}}
{{-   $proxmox_endpoint = promptStringOnce . "proxmox_endpoint" "Proxmox API endpoint URL" "https://erebor.husain.me:8006/api2/json" -}}
{{- end -}}
{{- "" -}}

[data]
  personal = {{ $personal }}
  stack = {{ $stack | quote }}
  media = {{ $media }}
  workstation = {{ $is_workstation }}
  macos = {{ $macos }}
  rpi = {{ $rpi }}
  ssh_host = {{ $ssh_host }}
  email = {{ $email | quote }}
  computerName = {{ $computerName | quote }}
  proxmox_endpoint = {{ $proxmox_endpoint | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-1password.sh"
