# Path setup
typeset -U path
path+=("{{ .chezmoi.homeDir }}/.local/bin")
path+=("{{ .chezmoi.homeDir }}/.composer/vendor/bin")

# Set up Homebrew
if [[ -d /opt/homebrew/bin ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -d /home/linuxbrew/.linuxbrew/bin ]]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -d /usr/local/bin/brew ]]; then
    eval "$(/usr/local/bin/brew shellenv)"
fi

{{ if .personal -}}
path+=("/Users/hw/.antigravity/antigravity/bin")
{{- end }}
export PATH

# Environment variables
export GPG_TTY=$(tty)

# 1Password tokens
export HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Personal/github.com/Tokens/Homebrew" "my.1password.com" }}

# LLM Config
{{ if .personal -}}
export OLLAMA_HOST=192.168.50.11
{{- end }}
export LLM_MODEL=openrouter/google/gemini-2.5-flash-lite

{{ if .personal -}}
export JIRA_API_TOKEN={{ onepasswordRead "op://Employee/n3enjt4hnmrdq7czug6nlkzpti/credential" "axelerant.1password.com" }}
{{- end }}

# Basic Zsh settings
fpath=($HOME/.config/zsh/functions $fpath)
autoload -Uz compinit
compinit -i
autoload -Uz lcommit

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE

# Aliases
{{ range $key, $val := .aliases -}}
alias {{ $key }}='{{ $val }}'
{{ end }}

# Tool initializations
[[ -f ${HOME}/.config/op/plugins.sh ]] && . ${HOME}/.config/op/plugins.sh

# OrbStack initialization
[[ -f {{ .chezmoi.homeDir }}/.orbstack/shell/init2.zsh ]] && . {{ .chezmoi.homeDir }}/.orbstack/shell/init2.zsh 2>/dev/null || :

# Prompts and History Tools
if command -v starship >/dev/null; then
    eval "$(starship init zsh)"
fi

{{ if .personal -}}
if command -v atuin >/dev/null; then
    eval "$(atuin init zsh --disable-up-arrow)"
fi
{{- end }}
