[user]
	name = {{ .chezmoi.username }}
	email = {{ .email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKmYR+MsIXzdK7mpmE3iUdeFwtmXi9/3mn9ypMiCyW5B

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	default = simple
	autoSetupRemote = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[alias]
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
	pull = pull --ff-only
	st = status -sb
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend --no-edit
	last = log -1 HEAD

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[commit]
	gpgsign = true

[diff]
	tool = difftastic

[pull]
	ff = only
	rebase = true

[init]
	defaultBranch = main

[help]
	autocorrect = prompt

[core]
{{ if eq .chezmoi.os "darwin" }}	editor = subl --wait
	fsmonitor = true
	untrackedCache = true
{{- end }}
	pager = delta

[interactive]
	diffFilter = delta --color-only --features=interactive
{{ if eq .chezmoi.os "darwin" }}
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
{{ end }}
[delta]
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
	line-numbers = true
	side-by-side = true

[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[diff "dyff"]
	command = "dyff_between() { dyff --color on between --omit-header \"$2\" \"$5\"; }; dyff_between"

[rerere]
	enabled = true
